# add new dependencies with exact version instead of semver ranges
save-exact=true
# do not use symlinks because they cause issues on Windows system
# see https://github.com/vercel/next.js/issues/50803
node-linker=hoisted
