<!--
 Copyright 2024 cronn GmbH
 SPDX-License-Identifier: Apache-2.0
-->

<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <appender name="LOGSTASH" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="${LOG_TARGET:-CONSOLE}" />
  </root>
</configuration>