/**
 * Copyright 2025 SCOOP Software GmbH, cronn GmbH
 * SPDX-License-Identifier: AGPL-3.0-only
 */

:root {
  --color: #171a1c;
  --color-primary: #0b6bcb;
  --color-background: #ffffff;
  --color-background-secondary: #f0f4f8;
  --color-dark: #ffffff;
  --color-background-dark: #32383e;
  --color-info: #12467b;
  /*--color-success: #0a470a;*/
  --color-success: #1f7a1f;
  /*--color-danger: #7d1212;*/
  --color-danger: #c41c1c;
  --color-backgound-info: #e3effb;
  /*--color-background-success: #e3fbe3;*/
  --color-background-success: #f6fef6;
  /*--color-background-danger: #fce4e4;*/
  --color-background-danger: #fef6f6;
  --border-radius: 8px;
  --transition-duration: 0.2s;
  --responsive-padding: 32px;
  --responsive-flex-direction: row;
  --responsive-column-start: 2;
  --responsive-column-end: 3;
  --responsive-border-radius: var(--border-radius);
  --responsive-font-size: 48px;
}

@media screen and (max-width: 479px) {
  :root {
    --responsive-padding: 8px;
    --responsive-flex-direction: column;
    --responsive-column-start: 1;
    --responsive-column-end: 4;
    --responsive-border-radius: 0;
    --responsive-font-size: 24px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 40px;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto max-content minmax(32px, 1fr) auto;
  grid-template-columns: minmax(8px, 1fr) minmax(auto, 1000px) minmax(8px, 1fr);
  background-color: var(--color-background-secondary);
  min-height: 100vh;
  line-height: 1.5;
  font-family: sans-serif;
}

main {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: subgrid;
  grid-row-start: 2;
  grid-column-start: var(--responsive-column-start);
  grid-column-end: var(--responsive-column-end);
  padding: 32px var(--responsive-padding);
  grid-row-gap: 32px;
  border-radius: var(--responsive-border-radius);
  background-color: var(--color-background);
}

div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header {
  display: flex;
  grid-row-start: 1;
  grid-column-start: 2;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 32px 0;
  color: var(--color);
}

button {
  display: flex;
  align-items: center;
  transition: background-color var(--transition-duration);
  box-shadow: none;
  border: 0;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  padding: 8px 32px;
  color: var(--color-background);
  font-weight: 700;
  font-size: 16px;

  &:hover {
    background-color: color-mix(
      in srgb-linear,
      var(--color-primary) 69%,
      #282828
    );
  }
}

h1 {
  font-size: var(--responsive-font-size);
}

.row {
  flex-direction: row;
  gap: 32px;
}

.invisible {
  display: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.color-primary {
  display: contents;
  color: var(--color-primary);
}

.bold {
  font-weight: 700;
}

.link-styled-button {
  cursor: pointer;
  border: none;
  background: none !important;
  padding: 0;
  text-decoration: underline;
}

.sheet {
  border-radius: var(--border-radius);
  background-color: var(--color-background-secondary);
  padding: 16px;
}

/* drop-area */

#drop-area {
  grid-row-start: 1;
  grid-column-start: 2;
  gap: 32px;
  transition:
    color var(--transition-duration),
    background-color var(--transition-duration),
    opacity var(--transition-duration),
    visibility var(--transition-duration);
  border: 2px dashed var(--color-primary);
  border-radius: var(--border-radius);
  background-color: var(--color-background-secondary);
  padding: 32px;
  min-height: 128px;

  & .color-primary {
    transition:
      color var(--transition-duration),
      background-color var(--transition-duration);
  }

  &.drag-copy,
  &.drag-copy .color-primary {
    background-color: var(--color-background-success);
    color: var(--color-success);
  }

  &.drag-none,
  &.drag-none .color-primary {
    background-color: var(--color-background-danger);
    color: var(--color-danger);
  }
}

#processing-indicator {
  grid-row-start: 1;
  grid-column-start: 2;
  gap: 32px;
  transition:
    opacity var(--transition-duration),
    visibility var(--transition-duration);
  border: 2px dashed var(--color-primary);
  border-radius: var(--border-radius);
  background-color: var(--color-background-success);
  padding: 32px;
}

#processing-success {
  grid-row-start: 1;
  grid-column-start: 2;
  gap: 32px;
  transition:
    opacity var(--transition-duration),
    visibility var(--transition-duration);
  border: 2px dashed var(--color-success);
  border-radius: var(--border-radius);
  background-color: var(--color-background-success);
  padding: 32px;
  color: var(--color-success);
}

#processing-error {
  grid-row-start: 1;
  grid-column-start: 2;
  gap: 32px;
  transition:
    opacity var(--transition-duration),
    visibility var(--transition-duration);
  border: 2px dashed var(--color-danger);
  border-radius: var(--border-radius);
  background-color: var(--color-background-danger);
  padding: 32px;
  color: var(--color-danger);
}

#drop-area,
#processing-indicator,
#processing-success,
#processing-error {
  & > h2 {
    color: var(--color);
  }
}

/* info */

#info-idle {
  grid-row-start: 2;
  grid-column-start: 2;
  align-items: flex-start;
  transition:
    opacity var(--transition-duration),
    visibility var(--transition-duration);
  background-color: var(--color-backgound-info);
  color: var(--color-info);
}

#info-success {
  grid-row-start: 2;
  grid-column-start: 2;
  align-items: flex-start;
  transition:
    opacity var(--transition-duration),
    visibility var(--transition-duration);
  background-color: var(--color-background-success);
  color: var(--color-success);
}

#info-error {
  grid-row-start: 2;
  grid-column-start: 2;
  align-items: flex-start;
  transition:
    opacity var(--transition-duration),
    visibility var(--transition-duration);
  background-color: var(--color-background-danger);
  color: var(--color-danger);
}

/* footer */

.footer-background {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: var(--color-background-dark);
}

footer {
  display: flex;
  grid-row-start: 4;
  grid-column-start: 2;
  flex-direction: var(--responsive-flex-direction);
  flex-wrap: wrap;
  gap: 32px;
  padding: 32px 0;
}

.footer-text {
  align-items: flex-start;
  background-color: var(--color-background);
  padding: 0 32px;
  color: var(--color);
}

/* language switch */

#lang-en,
#lang-de,
.back-to-main {
  color: var(--color-primary);
}
