/**
 * Copyright 2024 cronn GmbH
 * SPDX-License-Identifier: AGPL-3.0-only
 */

@page {
  size: A4 portrait;
  margin-bottom: 25mm;

  @bottom-left {
    content: element(--var-footerRunning);
    font-family: sans-serif;
    font-size: 8pt;
    border-top: black solid 1px;
    vertical-align: top;
  }

  @bottom-right {
    content: "Seite " counter(page) " von " counter(pages);
    font-family: sans-serif;
    font-size: 8pt;
    border-top: black solid 1px;
    vertical-align: top;
  }
}

html {
  font-family: sans-serif;
  font-size: 8pt;
}

/* the footer is a running element, which is used in the @bottom-center margin box */
/* see https://pagedjs.org/documentation/7-generated-content-in-margin-boxes/ */
footer {
  position: running(--var-footerRunning);
}

.header .officeName {
  font-size: 16pt;
}

.header .objectType {
  font-size: 12pt;
}

.header .letterhead td {
  padding: 0;
  border-spacing: 0;
}

.header .receiver {
  padding-right: 20px;
  width: 70%;
  font-size: 8pt;
}

.header .receiver .officeAddress {
  font-size: 7pt;
  padding-top: 60px;
  margin-bottom: 10px;
}

.header .sender {
  font-size: 7pt;
  margin-top: 10px;
}

.subject p {
  font-size: 7pt;
  padding-top: 20px;
  font-weight: bold;
}

.participants ul {
  margin: 0;
  list-style-type: none;
}

.access-code {
  padding-right: 40px;
}

.important {
  font-weight: bold;
}

.box {
  border: 1px solid black;
  padding: 6px;
}

.officeInfoHeader {
  font-size: 7pt;
}

.officeInfoContent {
  font-size: 8pt;
  font-weight: bold;
}

.footerContent {
  font-size: 7pt;
}

.info-table td {
  border: none;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  vertical-align: top;
}

.highlight {
  background: #EBEBEB;
  border-left: 2px solid #21BBEF;
}

.section {
  font-size: 7px;
  font-weight: 400;
  line-height: 10.5px;
}

.strong {
  font-weight: 600;
}

.registration-code {
  padding: 8px;
  border: 1px solid black;
  font-weight: 600;
  letter-spacing: 1px;
  width: 120px;
}

.qr-code {
  background: black;
  width: 70px;
  height: 70px;
}

ol {
  padding: 10pt;
}
