/**
 * Copyright 2026 SCOOP Software GmbH, cronn GmbH
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.bn-content-view {
  display: flex;
  flex-direction: column;
  font-weight: 400;

  & p {
    margin: 3px 0;
  }

  & h1 {
    font-size: 3em;
    font-weight: 700;
    margin: 3px 0;
  }

  & h2 {
    font-size: 2em;
    font-weight: 700;
    margin: 3px 0;
  }

  & h3 {
    font-size: 1.3em;
    font-weight: 700;
    margin: 3px 0;
  }

  & h4 {
    font-size: 1em;
    font-weight: 700;
    margin: 3px 0;
  }

  & h5 {
    font-size: .9em;
    font-weight: 700;
    margin: 3px 0;
  }

  & h6 {
    font-size: .8em;
    font-weight: 700;
    margin: 3px 0;
  }

  & blockquote {
    color: #7d797a;
    border-left: 2px solid #7d797a;
    padding-left: 1em;
    margin: 3px 0;
  }

  & ol, & ul {
    margin: 0;
    padding-left: 24px;
  }

  & [data-text-alignment=left] {
    justify-content: flex-start;
    text-align: left;
  }

  & [data-text-alignment=center] {
    justify-content: center;
    text-align: center;
  }

  & [data-text-alignment=right] {
    justify-content: flex-end;
    text-align: right;
  }

  & [data-text-alignment=justify] {
    justify-content: flex-start;
    text-align: justify;
  }

  & [data-style-type=textColor] {
    &[data-value=red] {
      color: rgb(224, 62, 62);
    }

    &[data-value=orange] {
      color: rgb(217, 115, 13);
    }

    &[data-value=yellow] {
      color: rgb(223, 171, 1);
    }

    &[data-value=green] {
      color: rgb(77, 100, 97);
    }

    &[data-value=blue] {
      color: rgb(11, 110, 153);
    }

    &[data-value=purple] {
      color: rgb(105, 64, 165);
    }
  }

  & [data-style-type=backgroundColor] {
    &[data-value=red] {
      background-color: rgb(251, 228, 228);
    }

    &[data-value=orange] {
      background-color: rgb(246, 233, 217);
    }

    &[data-value=yellow] {
      background-color: rgb(251, 243, 219);
    }

    &[data-value=green] {
      background-color: rgb(221, 237, 234);
    }

    &[data-value=blue] {
      background-color: rgb(221, 235, 241);
    }

    &[data-value=purple] {
      background-color: rgb(234, 228, 242);
    }
  }
}
